<div class="row my-5"> <!--부트스트랩에서 제공하는 함수-->
    <div class="col">
        <h1 class="text-center">지역검색</h1>
        <!-- 검색 기능 -->
        <div class = "row mb-3 justify-content-end">
            <form name = "frm" class = "col-6 col-md-4 col-lg-3">
                <div class = "input-group">
                    <input name = "query" class = "form-control" value="인하대학교">
                    <button class = "btn btn-primary">검색</button>
                </div>
            </form>
        </div>
        <hr>
        <div id="div_locals"></div>

        <!-- 페이지 이동 -->
        <div class="text-center">
            <button id = "prev" class="btn btn-primary">이전</button>
            <span id = "span_page" class="mx-3">1/10</span>
            <button id = "next" class="btn btn-primary">다음</button>
        </div>
    </div>
</div>

<!--locals 템플릿 만들기-->
<script type="x-handlebars-template" id="temp_locals">
    <table class="table">
        {{#each documents}}
            <tr>
                <td>{{place_name}}</td>
                <td>{{address_name}}</td>
                <td>{{phone}}</td>
            </tr>
        {{/each}}
    </table>
</script>

<script>
    let page = 1;
    let query = $(frm.query).val();

    $(frm).on("submit", function (e){
        e.preventDefault();
        query = $(frm.query).val();
        page = 1; // 인하대학교 검색하다가 인천대 검색했을 경우 1페이지로 가게
        getLocals(); // 인천대 검색했을 때 떠야하니까 다시 함수 호출
    });

    getLocals();

    // 다음 버튼
    $("#next").on("click", function () {
        page++;
        getLocals();
    });

    // 이전 버튼
    $("#prev").on("click", function () {
        page--;
        getLocals();
    });

    function getLocals(){
        $.ajax({
            type: "GET",
            url: "https://dapi.kakao.com/v2/local/search/keyword.json",
            headers: {"Authorization":"KakaoAK 3b06b87b5ecf6eb05c3de92d42cad9e8"},
            data: {query:query, page:page, size:5},
            success: function (data) {
                // console.log(data);
                let temp=Handlebars.compile($("#temp_locals").html());
                $("#div_locals").html(temp(data));

                let last = Math.ceil(data.meta.pageable_count / 5)
                $("#span_page").html(page + "/" + last);

                // 페이지가 첫페이지 일 때와 마지막 페이지 일 때
                if(page==1) $("#prev").attr("disabled", true);
                else $("#prev").attr("disabled", false);
                if(data.meta.is_end) $("#next").attr("disabled", true);
                else $("#next").attr("disabled", false);
            }
        });
    }

</script>